<f:layout name="Base" />
<f:section name="Content">
    <section class="loading-stage" data-direction="down" style="display: block;">
        <div class="content center">
            <div id="loader"></div>
        </div>
    </section>

    {content -> f:format.raw()}
    <!--
    <section class="info-stage" data-direction="down">
        <div class="content center">
            <h3>test</h3>
            <img src="./images/logo.png" class="opacity-in" alt="Site Logo">
        </div>
    </section>
    <section class="info-stage" data-direction="down">
        <div class="content center">
            <div class="fly-in right">
                <h3>Hello World again</h3>
                <img src="./images/stock.jpeg" width="300px" alt="">
            </div>
        </div>
    </section>
    <section class="info-stage" data-direction="down">
        <div class="content center">
            <div>
                <h3>Hello World blah blubb</h3>
                <img src="./images/stock.jpeg" class="fly-in top" width="300px" alt="">
            </div>
        </div>
    </section>
    <section class="info-stage" data-direction="right">
        <div class="content center">
            <div>
                <h3>Hello World gedöns</h3>
                <img src="./images/stock.jpeg" class="fly-in bottom" width="300px" alt="">
            </div>
        </div>
    </section>
    <section class="info-stage" data-direction="down">
        <div class="content center">
            <div>
                <h3>Hello World again</h3>
                <img src="./images/stock.jpeg" class="fly-in left" width="300px" alt="">
            </div>
        </div>
    </section>
    -->
</f:section>